@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
/* TOP */
.App {
  text-align: center;
  background-color: #2f729c;
  /* background-image: url('https://www.freepik.com/free-photo/abstract-grunge-decorative-relief-navy-blue-stucco-wall-texture-wide-angle-rough-colored-background_11712554.htm'); */
  width: 100vw;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: 'Ubuntu', sans-serif;
}
.page {
  min-height: 100vh;
  display: flex;
}
/* NAV BAR */
.nav-container {
  display: flex;
}

.nav-bar {
  position: fixed;
  padding: 0;
  z-index: 10;
  width: 100vw;
  background-color: #102736;
  border-bottom: 0.1px outset #102736;
}
.navbar-dark .navbar-nav .nav-link {
  font-size: 2vw;
  margin: 0 1.5vw;
  font-weight: bold;
  color: #8bc4e8;
}
.navbar-dark .navbar-nav .nav-link:hover {
  color: #e75151;
}
.navbar-dark .navbar-nav .nav-link.active {
  background-color: #102736;
  color: #e75151;
  border-bottom: 5px solid #e75151;
  border-radius: 5px;
}
.nav-contact {
  display: flex;
  margin: 2vw;
  text-decoration: none;
  color: #8bc4e8;
  font-size: 2rem;
}
.nav-contact:hover {
  color: #e75151;
}
.nav-contact:active {
  color: #e75151;
}

/* INTRODUCTION */
.introduction {
  flex-direction: column;
  align-items: center;
}
.introduction-text {
  margin-top: 15vh;
}
/* PROJECTS */
.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15vh;
}
.projects-text {
  margin-top: 15vh;
}
.projects-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  max-width: none;
}
/* ABOUT */
.about {
  flex-direction: column;
  align-items: center;
}
.about-text {
  margin-top: 15vh;
}
/* CONTACT */
.contact {
  flex-direction: column;
  align-items: center;
}
.contact-text {
  margin-top: 15vh;
}
/* PROJECT CARD AND OVERLAY */
.project-card {
  max-width: 30em;
  margin: 10px;
  border: 3px solid #1f4c69;
}
.project-card:hover {
  cursor: pointer;
}
.card-img-overlay {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background-color: rgba(16, 39, 54, 0.9);
  color: #8bc4e8;
  font-size: 3vw;
}
.card-img-overlay > .card-title {
  font-size: 6vw;
}

/* PROJECT MODAL */
.modal-dialog {
  max-width: 90% !important;
}
.modal-content {
  background-color: rgba(16, 39, 54, 0.97);
  border-color: #1f4c69;
  color: #8bc4e8;
}
.modal-header,
.modal-footer {
  border-color: #1f4c69;
}
.modal-header {
  display: flex;
}
.modal-header > p {
  min-width: 8em;
  display: flex;
  justify-content: center;
  font-family: 'Ubuntu', sans-serif;
  font-size: 5vw;
  font-weight: 700;
  margin: auto 0;
}
.modal-footer > p {
  font-size: 2.5vw;
}
.btn-close:focus {
  outline: 0;
  box-shadow: none;
  opacity: 1;
}
.icon-container {
  display: flex;
  justify-content: space-evenly;
  font-size: 6vw;
}
/* DEVICONS */
/* .icon-container > i {
  font-size: 7em;
} */

/* MAX-WIDTH */
@media screen and (max-width: 600px) {
  .nav-contact {
    margin: 2vw;
    font-size: 1rem;
  }
  .card-img-overlay {
    font-size: 0.7rem;
  }
  .card-img-overlay > .card-title {
    font-size: 1.5rem;
  }
  .navbar-dark .navbar-nav .nav-link {
    font-size: 0.7rem;
    margin: 0 0.2vw;
  }
  .icon-container {
    font-size: 4em;
  }
  .modal-header > .icon-container {
    font-size: 1.5em;
  }
}
/* MAX-WIDTH */
@media screen and (max-width: 300px) {
  .nav-contact {
    margin: 1.5vw;
    font-size: 0.8rem;
  }
  .navbar-dark .navbar-nav .nav-link {
    font-size: 0.5rem;
    margin: 0 0.25vw;
  }
  .icon-container {
    font-size: 2.5em;
  }
  .modal-header > .icon-container {
    font-size: 1em;
  }
}
/* MIN-WIDTH */
@media screen and (min-width: 1200px) {
  .nav-contact {
    margin: 2vw;
    font-size: 2rem;
  }
  .card-img-overlay {
    font-size: 1.3rem;
  }
  .card-img-overlay > .card-title {
    font-size: 3.2rem;
  }
  .nav-link {
    font-size: 2rem;
  }
  .icon-container {
    font-size: 4rem;
  }
}
